html {
  font-size: 10px;
}

@media (max-width: 1279px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.control-panel {
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  padding-bottom: 20px;
}

.control-panel__wrapper-first-row {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
    0 6px rgb(86,38,6),
    0 3px 15px rgba(0,0,0,.4),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
}

.btn:hover {
  cursor: pointer;
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}

.btn:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
    0 2px rgb(86,38,6),
    0 1px 6px rgba(0,0,0,.4),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}


.control-panel__new-game {
  font-size: 16px;
  margin-right: 10px;

  box-sizing: border-box;
  padding: 1.2rem 3rem;
}

.control-panel__setting-new-game-button {
  font-size: 16px;

  box-sizing: border-box;
  padding: 1.2rem 1.4rem;
}

.control-panel__hidden-options {
  position: absolute;
  box-sizing: border-box;
  width: 320px;
  padding: 2px ;
  border-radius: 10px;
  top: 52px;
  left: 0px;
  background-color: #e1e1e1;
}

.control-panel__give-background {
  box-sizing: border-box;
  width: 160px;
  margin: 10px;
}

.control-panel__score {
  font-size: 16px;
  margin-right: 0px;

  box-sizing: border-box;
  padding: 1.2rem 1.5rem;
}

.control-panel__score:hover {
  cursor: pointer;
}

.control-panel__end-game {
  font-size: 16px;
  margin-right: 10px;

  box-sizing: border-box;
  padding: 1.2rem 2.2rem;
}

.control-panel__switch-numbers {
  width: 111px;
  box-sizing: border-box;
  font-size: 16px;

  padding: 0.5rem 2.2rem;
}

.control-panel__size-control-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
}

.control-panel__control-sounds {
  box-sizing: border-box;
  width: 50px;
  margin-right: 8px;
}

.sound-active {
  background-image: url(./assets/image/volume.svg);

  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sound-active:hover {
  background-image: url(./assets/image/volume.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sound-active:active {
  background-image: url(./assets/image/volume.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sound-disable {
  background-image: url(./assets/image/mute.svg);

  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sound-disable:hover {
  background-image: url(./assets/image/mute.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sound-disable:active {
  background-image: url(./assets/image/mute.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.control-panel__size-item {
  position: relative;
  padding-bottom: 23px;
  vertical-align: center;
}

.radio-indicator:hover {
  cursor: pointer;
}

.control-panel__size-item input[type="radio"] + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 5px;
  box-sizing: border-box;

  width: 20px;
  height: 20px;

  border: 4px solid rgb(147,80,36);
}

.control-panel__size-item input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: 26.5px;
  left: 11.5px;

  width: 7px;
  height: 7px;

  border: 0px solid rgb(147,80,36);
  background-color: rgb(147,80,36);
}

.control-panel__size-item input[type="radio"]:hover + .radio-indicator::before {
  border-color: rgb(100,91,41);
  cursor: pointer;
}

.control-panel__size-item input[type="radio"]:checked:hover + .radio-indicator::after {
  background-color: rgb(100,91,41);
  cursor: pointer;
}

.control-panel__size-item input[type="radio"]:focus + .radio-indicator::before {
  border-color: rgb(147,80,36);
}

.control-panel__size-item input[type="radio"]:checked:focus + .radio-indicator::after {
  background-color: rgb(100,91,41);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.control-panel__size-control-list {
  display: flex;
  margin: 0;

  font-size: 16px;
  list-style: none;
}


.control-panel__size-item label {
  display: flex;
  flex-direction: column;
  margin: 0 10px 15px 0;
}

.control-panel__wrapper-second-row {
  box-sizing: border-box;
  width: 320px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-panel__moves-container {
  display: flex;
  align-items: center;
  height: 44px;
  border: 2px solid rgba(147,80,36, 0.8);
  border-radius: 10px;


  font-size: 18px;
  padding: 0 5px;
}

.control-panel__moves {
  display: block;
  margin-left: 7px;

}

.control-panel__time-container {
  display: flex;
  align-items: center;
  height: 44px;

  border: 2px solid rgba(147,80,36, 0.8);
  border-radius: 10px;
  font-size: 18px;
  padding: 0 5px;
}

.control-panel__time {
  display: block;
  margin-left: 7px;
}

.control-panel__wrapper-third-row {
  box-sizing: border-box;
  width: 320px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

/*/////////////////// SCORE /////////////*/

.score_wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  background-color: rgba(41, 41, 41, 0.9);
}

.score_container {
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 18px;


}

.score__list {
  list-style: none;
  padding: 20px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: rgba(20, 20, 20, 1);
}

.score__item {
  display: flex;
}

.score__item:nth-child(2n+2) {
  background-color: rgba(40, 40, 40, 1);
}

.score__item-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  font-size: 20px;
}

.score__item-number {
  width: 20px;
  text-align: right;
  margin: 0 15px 0 0;
}

.score__item-moves {
  display: block;
  width: 50px;
  text-align: center;
  margin: 0 15px 0 0;
}

.score__item-duration {
  display: block;
  width: 50px;
}

.score__empty {
  font-size: 22px;
}

.score__size-item {
  box-sizing: border-box;
  width: 64px;
  height: 28px;
  padding: 0 12px;
  vertical-align: center;
  display: flex;
  justify-content: center;

}

.score__size-item label {
  display: flex;
  height: 28px;
  align-items: center;
}

.radio-indicator_score {
  display: block;
}

.radio-indicator_score:hover {
  cursor: pointer;
}

.score__size-item input[type="radio"]:checked + .radio-indicator_score {
  font-size: 25px;

}

.score__size-item input[type="radio"]:checked + .radio-indicator_score:active {
  color: white;
}

.score__size-item input[type="radio"]:hover + .radio-indicator_score {
  color: gray;
  cursor: pointer;
}

.score__size-control-list {
  display: flex;
  margin: 0;
  padding: 5px 0;

  background-color: rgba(20, 20, 20, 1);
  border-radius: 10px;
  font-size: 16px;
  list-style: none;
}

@media (max-width: 500px) {
  .score__size-control-list  {
    width: 220px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .score__size-item {
    padding: 0 10px;
  }
}

.score__close-wrapper {
  width: 100%;
}

.score__close {
  display: block;
  width: 200px;
  margin-left: auto;
  text-align: center;

  font-size: 24px;

  box-sizing: border-box;
  padding: 1.2rem 2.5rem;

  color: white;
  background-color: #E5E5E5;
  border: none;
  border-radius: 10rem;
  outline: none;
}

.score__close:hover {
  cursor: pointer;
  background-color: gray;
}

/*//////////// Popup End Game ///////////////*/

.popup_end-game {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  font-size: 22px;
  padding: 10px;
  box-sizing: border-box;

  color: white;
  background-color: rgba(41, 41, 41, 0.9);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.popup_end-game p {
  height: 100%;
  text-align: center;
  vertical-align: center;

  line-height: 26px;
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
}

/*///////////// 3 НА 3 /////////////*/

.container_x3 {
  font-size: 32px;
  text-align: center;
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
  background-blend-mode: overlay;
  background-size: 50rem 50rem;
  width: 50rem;
  height: 50rem;
}


.container_x3 .bone_x3 {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid wheat;
  width: 33.333%;
  height: 33.333%;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: rgb(137,75,36);
  background-size: 50rem 50rem;
  /*color: lightgoldenrodyellow;*/
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .container_x3 {
    max-width: 50rem;
    max-height: 50rem;
    width: 100vw;
    height: 100vw;
    background-size: 100% 100%;
  }

  .container_x3 .bone_x3 {
    background-size: 100vw 100vw;
  }
}

.container_x3 .bone_x3:hover {
  cursor: pointer;
}

.container_x3 .number_0 {
  top: 0;
  left: 0;
}

.container_x3 .bone_img-0 {
  background-position: 0 0;
}

.container_x3 .number_1 {
  top: 0;
  left: 33.333%;
}

.container_x3 .bone_img-1 {
  background-position: 50% 0;
}

.container_x3 .number_2 {
  top: 0;
  left: 66.666%;
}

.container_x3 .bone_img-2 {
  background-position: 100% 0;
}

.container_x3 .number_3 {
  top: 33.333%;
  left: 0;
}

.container_x3 .bone_img-3 {
  background-position: 0 50%;
}

.container_x3 .number_4 {
  top: 33.333%;
  left: 33.333%;
}

.container_x3 .bone_img-4 {
  background-position: 50% 50%;
}

.container_x3 .number_5 {
  top: 33.333%;
  left: 66.666%;
}

.container_x3 .bone_img-5 {
  background-position: 100% 50%;
}

.container_x3 .number_6 {
  top: 66.666%;
  left: 0;
}

.container_x3 .bone_img-6 {
  background-position: 0 100%;
}

.container_x3 .number_7 {
  top: 66.666%;
  left: 33.333%;
}

.container_x3 .bone_img-7 {
  background-position: 50% 100%;
}

.container_x3 .number_8 {
  top: 66.666%;
  left: 66.666%;
}

.container_x3 .zero {
  background-image: none!important;
  background-color: transparent;
  border: 3px transparent solid;
  font-size: 0;
}

/*////// 4 НА 4 ///////*/

.container_x4 {
  font-size: 32px;
  text-align: center;
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
  background-blend-mode: overlay;
  background-size: 50rem 50rem;
  width: 50rem;
  height: 50rem;
}

.container_x4 .bone_x4 {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid wheat;
  width: 25%;
  height: 25%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(137,75,36);
  background-size: 50rem 50rem;
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .container_x4 {
    max-width: 50rem;
    max-height: 50rem;
    width: 100vw;
    height: 100vw;
    background-size: 100% 100%;
  }

  .container_x4 .bone_x4 {
    background-size: 100vw 100vw;
  }
}

.container_x4 .bone_x4:hover {
  cursor: pointer;
}

.container_x4 .number_0 {
  top: 0;
  left: 0;
}

.container_x4 .number_1 {
  top: 0;
  left: 25%;
}

.container_x4 .number_2 {
  top: 0;
  left: 50%;
}

.container_x4 .number_3 {
  top: 0;
  left: 75%;
}

.container_x4 .number_4 {
  top: 25%;
  left: 0;
}

.container_x4 .number_5 {
  top: 25%;
  left: 25%;
}

.container_x4 .number_6 {
  top: 25%;
  left: 50%;
}

.container_x4 .number_7 {
  top: 25%;
  left: 75%;
}

.container_x4 .number_8 {
  top: 50%;
  left: 0;
}

.container_x4 .number_9 {
  top: 50%;
  left: 25%;
}

.container_x4 .number_10 {
  top: 50%;
  left: 50%;
}

.container_x4 .number_11 {
  top: 50%;
  left: 75%;
}

.container_x4 .number_12 {
  top: 75%;
  left: 0;
}

.container_x4 .number_13 {
  top: 75%;
  left: 25%;
}

.container_x4 .number_14 {
  top: 75%;
  left: 50%;
}

.container_x4 .number_15 {
  top: 75%;
  left: 75%;
}

.container_x4 .zero {
  background-image: none!important;
  background-color: transparent;
  border: 3px transparent solid;
  font-size: 0;
}

.container_x4 .bone_img-0 {
  background-position: 0 0;
}

.container_x4 .bone_img-1 {
  background-position: 33.333% 0;
}

.container_x4 .bone_img-2 {
  background-position: 66.666% 0;
}

.container_x4 .bone_img-3 {
  background-position: 100% 0;
}

.container_x4 .bone_img-4 {
  background-position: 0 33.333%;
}

.container_x4 .bone_img-5 {
  background-position: 33.333% 33.333%;
}

.container_x4 .bone_img-6 {
  background-position: 66.666% 33.333%;
}

.container_x4 .bone_img-7 {
  background-position: 100% 33.333%;
}

.container_x4 .bone_img-8 {
  background-position: 0 66.666%;
}

.container_x4 .bone_img-9 {
  background-position: 33.333% 66.666%;
}

.container_x4 .bone_img-10 {
  background-position: 66.666% 66.666%;
}

.container_x4 .bone_img-11 {
  background-position: 100% 66.666%;
}

.container_x4 .bone_img-12 {
  background-position: 0 100%;
}

.container_x4 .bone_img-13 {
  background-position: 33.333% 100%;
}

.container_x4 .bone_img-14 {
  background-position: 66.666% 100%;
}


/*////// 5 НА 5 ///////*/

.container_x5 {
  font-size: 32px;
  text-align: center;
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
  background-blend-mode: overlay;
  background-size: 50rem 50rem;
  width: 50rem;
  height: 50rem;
}

.container_x5 .bone_x5 {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid wheat;
  width: 20%;
  height: 20%;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: rgb(137,75,36);
  background-size: 50rem 50rem;
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .container_x5 {
    max-width: 50rem;
    max-height: 50rem;
    width: 100vw;
    height: 100vw;
    background-size: 100% 100%;
  }

  .container_x5 .bone_x5 {
    background-size: 100vw 100vw;
  }
}

.container_x5 .bone_x5:hover {
  cursor: pointer;
}

.container_x5 .number_0 {
  top: 0;
  left: 0;
}

.container_x5 .number_1 {
  top: 0;
  left: 20%;
}

.container_x5 .number_2 {
  top: 0;
  left: 40%;
}

.container_x5 .number_3 {
  top: 0;
  left: 60%;
}

.container_x5 .number_4 {
  top: 0;
  left: 80%;
}

.container_x5 .number_5 {
  top: 20%;
  left: 0;
}

.container_x5 .number_6 {
  top: 20%;
  left: 20%;
}

.container_x5 .number_7 {
  top: 20%;
  left: 40%;
}

.container_x5 .number_8 {
  top: 20%;
  left: 60%;
}

.container_x5 .number_9 {
  top: 20%;
  left: 80%;
}

.container_x5 .number_10 {
  top: 40%;
  left: 0;
}

.container_x5 .number_11 {
  top: 40%;
  left: 20%;
}

.container_x5 .number_12 {
  top: 40%;
  left: 40%;
}

.container_x5 .number_13 {
  top: 40%;
  left: 60%;
}

.container_x5 .number_14 {
  top: 40%;
  left: 80%;
}

.container_x5 .number_15 {
  top: 60%;
  left: 0;
}

.container_x5 .number_16 {
  top: 60%;
  left: 20%;
}

.container_x5 .number_17 {
  top: 60%;
  left: 40%;
}

.container_x5 .number_18 {
  top: 60%;
  left: 60%;
}

.container_x5 .number_19 {
  top: 60%;
  left: 80%;
}

.container_x5 .number_20 {
  top: 80%;
  left: 0;
}

.container_x5 .number_21 {
  top: 80%;
  left: 20%;
}

.container_x5 .number_22 {
  top: 80%;
  left: 40%;
}

.container_x5 .number_23 {
  top: 80%;
  left: 60%;
}

.container_x5 .number_24 {
  top: 80%;
  left: 80%;
}

.container_x5 .zero {
  background-image: none!important;
  background-color: transparent;
  border: 3px transparent solid;
  font-size: 0;
}

.container_x5 .bone_img-0 {
  background-position: 0 0;
}

.container_x5 .bone_img-1 {
  background-position: 25% 0;
}

.container_x5 .bone_img-2 {
  background-position: 50% 0;
}

.container_x5 .bone_img-3 {
  background-position: 75% 0;
}

.container_x5 .bone_img-4 {
  background-position: 100% 0;
}

.container_x5 .bone_img-5 {
  background-position: 0 25%;
}

.container_x5 .bone_img-6 {
  background-position: 25% 25%;
}

.container_x5 .bone_img-7 {
  background-position: 50% 25%;
}

.container_x5 .bone_img-8 {
  background-position: 75% 25%;
}

.container_x5 .bone_img-9 {
  background-position: 100% 25%;
}

.container_x5 .bone_img-10 {
  background-position: 0 50%;
}

.container_x5 .bone_img-11 {
  background-position: 25% 50%;
}

.container_x5 .bone_img-12 {
  background-position: 50% 50%;
}

.container_x5 .bone_img-13 {
  background-position: 75% 50%;
}

.container_x5 .bone_img-14 {
  background-position: 100% 50%;
}

.container_x5 .bone_img-15 {
  background-position: 0 75%;
}

.container_x5 .bone_img-16 {
  background-position: 25% 75%;
}

.container_x5 .bone_img-17 {
  background-position: 50% 75%;
}

.container_x5 .bone_img-18 {
  background-position: 75% 75%;
}

.container_x5 .bone_img-19 {
  background-position: 100% 75%;
}

.container_x5 .bone_img-20 {
  background-position: 0 100%;
}

.container_x5 .bone_img-21 {
  background-position: 25% 100%;
}

.container_x5 .bone_img-22 {
  background-position: 50% 100%;
}

.container_x5 .bone_img-23 {
  background-position: 75% 100%;
}

/*////// 6 НА 6 ///////*/

.container_x6 {
  font-size: 32px;
  text-align: center;
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
  background-blend-mode: overlay;
  background-size: 50rem 50rem;
  width: 50rem;
  height: 50rem;
}

.container_x6 .bone_x6 {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid wheat;
  width: 16.667%;
  height: 16.667%;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: rgb(137,75,36);
  background-size: 50rem 50rem;
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .container_x6 {
    max-width: 50rem;
    max-height: 50rem;
    width: 100vw;
    height: 100vw;
    background-size: 100% 100%;
  }

  .container_x6 .bone_x6 {
    background-size: 100vw 100vw;
  }
}

.container_x6 .bone_x6:hover {
  cursor: pointer;
}

.container_x6 .number_0 {
  top: 0;
  left: 0;
}

.container_x6 .number_1 {
  top: 0;
  left: 16.667%;
}

.container_x6 .number_2 {
  top: 0;
  left: 33.334%;
}

.container_x6 .number_3 {
  top: 0;
  left: 50.001%;
}

.container_x6 .number_4 {
  top: 0;
  left: 66.668%;
}

.container_x6 .number_5 {
  top: 0;
  left: 83.335%;
}


.container_x6 .number_6 {
  top: 16.667%;
  left: 0;
}

.container_x6 .number_7 {
  top: 16.667%;
  left: 16.667%;
}

.container_x6 .number_8 {
  top: 16.667%;
  left: 33.334%;
}

.container_x6 .number_9 {
  top: 16.667%;
  left: 50.001%;
}

.container_x6 .number_10 {
  top: 16.667%;
  left: 66.668%;
}

.container_x6 .number_11 {
  top: 16.667%;
  left: 83.335%;
}

.container_x6 .number_12 {
  top: 33.334%;
  left: 0;
}

.container_x6 .number_13 {
  top: 33.334%;
  left: 16.667%;
}

.container_x6 .number_14 {
  top: 33.334%;
  left: 33.334%;
}

.container_x6 .number_15 {
  top: 33.334%;
  left: 50.001%;
}

.container_x6 .number_16 {
  top: 33.334%;
  left: 66.668%;
}

.container_x6 .number_17 {
  top: 33.334%;
  left: 83.335%;
}

.container_x6 .number_18 {
  top: 50.001%;
  left: 0;
}

.container_x6 .number_19 {
  top: 50.001%;
  left: 16.667%;
}

.container_x6 .number_20 {
  top: 50.001%;
  left: 33.334%;
}

.container_x6 .number_21 {
  top: 50.001%;
  left: 50.001%;
}

.container_x6 .number_22 {
  top: 50.001%;
  left: 66.668%;
}

.container_x6 .number_23 {
  top: 50.001%;
  left: 83.335%;
}

.container_x6 .number_24 {
  top: 66.668%;
  left: 0;
}

.container_x6 .number_25 {
  top: 66.668%;
  left: 16.667%;
}

.container_x6 .number_26 {
  top: 66.668%;
  left: 33.334%;
}

.container_x6 .number_27 {
  top: 66.668%;
  left: 50.001%;
}

.container_x6 .number_28 {
  top: 66.668%;
  left: 66.668%;
}

.container_x6 .number_29 {
  top: 66.668%;
  left: 83.335%;
}

.container_x6 .number_30 {
  top: 83.335%;
  left: 0;
}

.container_x6 .number_31 {
  top: 83.335%;
  left: 16.667%;
}

.container_x6 .number_32 {
  top: 83.335%;
  left: 33.334%;
}

.container_x6 .number_33 {
  top: 83.335%;
  left: 50.001%;
}

.container_x6 .number_34 {
  top: 83.335%;
  left: 66.668%;
}

.container_x6 .number_35 {
  top: 83.335%;
  left: 83.335%;
}

.container_x6 .zero {
  background-image: none!important;
  background-color: transparent;
  border: 3px transparent solid;
  font-size: 0;
}

.container_x6 .bone_img-0 {
  background-position: 0 0;
}

.container_x6 .bone_img-1 {
  background-position: 20% 0;
}

.container_x6 .bone_img-2 {
  background-position: 40% 0;
}

.container_x6 .bone_img-3 {
  background-position: 60% 0;
}

.container_x6 .bone_img-4 {
  background-position: 80% 0;
}

.container_x6 .bone_img-5 {
  background-position: 100% 0;
}

.container_x6 .bone_img-6 {
  background-position: 0 20%;
}

.container_x6 .bone_img-7 {
  background-position: 20% 20%;
}

.container_x6 .bone_img-8 {
  background-position: 40% 20%;
}

.container_x6 .bone_img-9 {
  background-position: 60% 20%;
}

.container_x6 .bone_img-10 {
  background-position: 80% 20%;
}

.container_x6 .bone_img-11 {
  background-position: 100% 20%;
}

.container_x6 .bone_img-12 {
  background-position: 0 40%;
}

.container_x6 .bone_img-13 {
  background-position: 20% 40%;
}

.container_x6 .bone_img-14 {
  background-position: 40% 40%;
}

.container_x6 .bone_img-15 {
  background-position: 60% 40%;
}

.container_x6 .bone_img-16 {
  background-position: 80% 40%;
}

.container_x6 .bone_img-17 {
  background-position: 100% 40%;
}

.container_x6 .bone_img-18 {
  background-position: 0 60%;
}

.container_x6 .bone_img-19 {
  background-position: 20% 60%;
}

.container_x6 .bone_img-20 {
  background-position: 40% 60%;
}

.container_x6 .bone_img-21 {
  background-position: 60% 60%;
}

.container_x6 .bone_img-22 {
  background-position: 80% 60%;
}

.container_x6 .bone_img-23 {
  background-position: 100% 60%;
}

.container_x6 .bone_img-24 {
  background-position: 0 80%;
}

.container_x6 .bone_img-25 {
  background-position: 20% 80%;
}

.container_x6 .bone_img-26 {
  background-position: 40% 80%;
}

.container_x6 .bone_img-27 {
  background-position: 60% 80%;
}

.container_x6 .bone_img-28 {
  background-position: 80% 80%;
}

.container_x6 .bone_img-29 {
  background-position: 100% 80%;
}

.container_x6 .bone_img-30 {
  background-position: 0 100%;
}

.container_x6 .bone_img-31 {
  background-position: 20% 100%;
}

.container_x6 .bone_img-32 {
  background-position: 40% 100%;
}

.container_x6 .bone_img-33 {
  background-position: 60% 100%;
}

.container_x6 .bone_img-34 {
  background-position: 80% 100%;
}

/*////// 7 НА 7 ///////*/

.container_x7 {
  font-size: 32px;
  text-align: center;
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
  background-blend-mode: overlay;
  background-size: 50rem 50rem;
  width: 50rem;
  height: 50rem;
}

.container_x7 .bone_x7 {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid wheat;
  width: 14.286%;
  height: 14.286%;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: rgb(137,75,36);
  background-size: 50rem 50rem;
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .container_x7 {
    max-width: 50rem;
    max-height: 50rem;
    width: 100vw;
    height: 100vw;
    background-size: 100% 100%;
  }

  .container_x7 .bone_x7 {
    background-size: 100vw 100vw;
  }
}

.container_x7 .bone_x7:hover {
  cursor: pointer;
}

.container_x7 .number_0 {
  top: 0;
  left: 0;
}

.container_x7 .number_1 {
  top: 0;
  left: 14.286%;
}

.container_x7 .number_2 {
  top: 0;
  left: 28.572%;
}

.container_x7 .number_3 {
  top: 0;
  left: 42.858%;
}

.container_x7 .number_4 {
  top: 0;
  left: 57.144%;
}

.container_x7 .number_5 {
  top: 0;
  left: 71.43%;
}

.container_x7 .number_6 {
  top: 0;
  left: 85.716%;
}

.container_x7 .number_7 {
  top: 14.286%;
  left: 0;
}

.container_x7 .number_8 {
  top: 14.286%;
  left: 14.286%;
}

.container_x7 .number_9 {
  top: 14.286%;
  left: 28.572%;
}

.container_x7 .number_10 {
  top: 14.286%;
  left: 42.858%;
}

.container_x7 .number_11 {
  top: 14.286%;
  left: 57.144%;
}

.container_x7 .number_12 {
  top: 14.286%;
  left: 71.43%;
}

.container_x7 .number_13 {
  top: 14.286%;
  left: 85.716%;
}

.container_x7 .number_14 {
  top: 28.572%;
  left: 0;
}

.container_x7 .number_15 {
  top: 28.572%;
  left: 14.286%;
}

.container_x7 .number_16 {
  top: 28.572%;
  left: 28.572%;
}

.container_x7 .number_17 {
  top: 28.572%;
  left: 42.858%;
}

.container_x7 .number_18 {
  top: 28.572%;
  left: 57.144%;
}

.container_x7 .number_19 {
  top: 28.572%;
  left: 71.43%;
}

.container_x7 .number_20 {
  top: 28.572%;
  left: 85.716%;
}

.container_x7 .number_21 {
  top: 42.858%;
  left: 0;
}

.container_x7 .number_22 {
  top: 42.858%;
  left: 14.286%;
}

.container_x7 .number_23 {
  top: 42.858%;
  left: 28.572%;
}

.container_x7 .number_24 {
  top: 42.858%;
  left: 42.858%;
}

.container_x7 .number_25 {
  top: 42.858%;
  left: 57.144%;
}

.container_x7 .number_26 {
  top: 42.858%;
  left: 71.43%;
}

.container_x7 .number_27 {
  top: 42.858%;
  left: 85.716%;
}

.container_x7 .number_28 {
  top: 57.144%;
  left: 0;
}

.container_x7 .number_29 {
  top: 57.144%;
  left: 14.286%;
}

.container_x7 .number_30 {
  top: 57.144%;
  left: 28.572%;
}

.container_x7 .number_31 {
  top: 57.144%;
  left: 42.858%;
}

.container_x7 .number_32 {
  top: 57.144%;
  left: 57.144%;
}

.container_x7 .number_33 {
  top: 57.144%;
  left: 71.43%;
}

.container_x7 .number_34 {
  top: 57.144%;
  left: 85.716%;
}

.container_x7 .number_35 {
  top: 71.43%;
  left: 0;
}

.container_x7 .number_36 {
  top: 71.43%;
  left: 14.286%;
}

.container_x7 .number_37 {
  top: 71.43%;
  left: 28.572%;
}

.container_x7 .number_38 {
  top: 71.43%;
  left: 42.858%;
}

.container_x7 .number_39 {
  top: 71.43%;
  left: 57.144%;
}

.container_x7 .number_40 {
  top: 71.43%;
  left: 71.43%;
}

.container_x7 .number_41 {
  top: 71.43%;
  left: 85.716%;
}

.container_x7 .number_42 {
  top: 85.716%;
  left: 0;
}

.container_x7 .number_43 {
  top: 85.716%;
  left: 14.286%;
}

.container_x7 .number_44 {
  top: 85.716%;
  left: 28.572%;
}

.container_x7 .number_45 {
  top: 85.716%;
  left: 42.858%;
}

.container_x7 .number_46 {
  top: 85.716%;
  left: 57.144%;
}

.container_x7 .number_47 {
  top: 85.716%;
  left: 71.43%;
}

.container_x7 .number_48 {
  top: 85.716%;
  left: 85.716%;
}

.container_x7 .zero {
  background-image: none!important;
  background-color: transparent;
  border: 3px transparent solid;
  font-size: 0;
}

.container_x7 .bone_img-0 {
  background-position: 0 0;

}

.container_x7 .bone_img-1 {
  background-position: 16.667% 0;

}

.container_x7 .bone_img-2 {
  background-position: 33.334% 0;

}

.container_x7 .bone_img-3 {
  background-position: 50.001% 0;

}

.container_x7 .bone_img-4 {
  background-position: 66.668% 0;

}

.container_x7 .bone_img-5 {
  background-position: 83.335% 0;

}

.container_x7 .bone_img-6 {
  background-position: 100% 0;

}

.container_x7 .bone_img-7 {
  background-position: 0 16.667%;

}

.container_x7 .bone_img-8 {
  background-position: 16.667% 16.667%;

}

.container_x7 .bone_img-9 {
  background-position: 33.334% 16.667%;

}

.container_x7 .bone_img-10 {
  background-position: 50.001% 16.667%;

}

.container_x7 .bone_img-11 {
  background-position: 66.668% 16.667%;

}

.container_x7 .bone_img-12 {
  background-position: 83.335% 16.667%;

}

.container_x7 .bone_img-13 {
  background-position: 100% 16.667%;

}

.container_x7 .bone_img-14 {
  background-position: 0 33.334%;

}

.container_x7 .bone_img-15 {
  background-position: 16.667% 33.334%;

}

.container_x7 .bone_img-16 {
  background-position: 33.334% 33.334%;

}

.container_x7 .bone_img-17 {
  background-position: 50.001% 33.334%;

}

.container_x7 .bone_img-18 {
  background-position: 66.668% 33.334%;

}

.container_x7 .bone_img-19 {
  background-position: 83.335% 33.334%;

}

.container_x7 .bone_img-20 {
  background-position: 100% 33.334%;

}

.container_x7 .bone_img-21 {
  background-position: 0 50.001%;

}

.container_x7 .bone_img-22 {
  background-position: 16.667% 50.001%;

}

.container_x7 .bone_img-23 {
  background-position: 33.334% 50.001%;

}

.container_x7 .bone_img-24 {
  background-position: 50.001% 50.001%;

}

.container_x7 .bone_img-25 {
  background-position: 66.668% 50.001%;

}

.container_x7 .bone_img-26 {
  background-position: 83.335% 50.001%;

}

.container_x7 .bone_img-27 {
  background-position: 100% 50.001%;

}

.container_x7 .bone_img-28 {
  background-position: 0 66.668%;

}

.container_x7 .bone_img-29 {
  background-position: 16.667% 66.668%;

}

.container_x7 .bone_img-30 {
  background-position: 33.334% 66.668%;

}

.container_x7 .bone_img-31 {
  background-position: 50.001% 66.668%;

}

.container_x7 .bone_img-32 {
  background-position: 66.668% 66.668%;

}

.container_x7 .bone_img-33 {
  background-position: 83.335% 66.668%;

}

.container_x7 .bone_img-34 {
  background-position: 100% 66.668%;

}

.container_x7 .bone_img-35 {
  background-position: 0 83.335%;

}

.container_x7 .bone_img-36 {
  background-position: 16.667% 83.335%;

}

.container_x7 .bone_img-37 {
  background-position: 33.334% 83.335%;

}

.container_x7 .bone_img-38 {
  background-position: 50.001% 83.335%;

}

.container_x7 .bone_img-39 {
  background-position: 66.668% 83.335%;

}

.container_x7 .bone_img-40 {
  background-position: 83.335% 83.335%;

}

.container_x7 .bone_img-41 {
  background-position: 100% 83.335%;

}

.container_x7 .bone_img-42 {
  background-position: 0 100%;

}

.container_x7 .bone_img-43 {
  background-position: 16.667% 100%;

}

.container_x7 .bone_img-44 {
  background-position: 33.334% 100%;

}

.container_x7 .bone_img-45 {
  background-position: 50.001% 100%;

}

.container_x7 .bone_img-46 {
  background-position: 66.668% 100%;

}

.container_x7 .bone_img-47 {
  background-position: 83.335% 100%;

}

/*////// 8 НА 8 ///////*/

.container_x8 {
  font-size: 32px;
  text-align: center;
  position: relative;
  background-color: rgba(200, 200, 200, 0.9);
  background-blend-mode: overlay;
  background-size: 50rem 50rem;
  width: 50rem;
  height: 50rem;
}

.container_x8 .bone_x8 {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid wheat;
  width: 12.5%;
  height: 12.5%;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: rgb(137,75,36);
  background-size: 50rem 50rem;
  color: white;
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  transition: all 0.5s ease;
}

@media (max-width: 500px) {
  .container_x8 {
    max-width: 50rem;
    max-height: 50rem;
    width: 100vw;
    height: 100vw;
    background-size: 100% 100%;
  }

  .container_x8 .bone_x8 {
    background-size: 100vw 100vw;
  }
}

.container_x8 .bone_x8:hover {
  cursor: pointer;
}

.container_x8 .number_0 {
  top: 0;
  left: 0;
}

.container_x8 .number_1 {
  top: 0;
  left: 12.5%;
}

.container_x8 .number_2 {
  top: 0;
  left: 25%;
}

.container_x8 .number_3 {
  top: 0;
  left: 37.45%;
}

.container_x8 .number_4 {
  top: 0;
  left: 50%;
}

.container_x8 .number_5 {
  top: 0;
  left: 62.5%;
}

.container_x8 .number_6 {
  top: 0;
  left: 75%;
}

.container_x8 .number_7 {
  top: 0;
  left: 87.5%;
}

.container_x8 .number_8 {
  top: 12.5%;
  left: 0;
}

.container_x8 .number_9 {
  top: 12.5%;
  left: 12.5%;
}

.container_x8 .number_10 {
  top: 12.5%;
  left: 25%;
}

.container_x8 .number_11 {
  top: 12.5%;
  left: 37.45%;
}

.container_x8 .number_12 {
  top: 12.5%;
  left: 50%;
}

.container_x8 .number_13 {
  top: 12.5%;
  left: 62.5%;
}

.container_x8 .number_14 {
  top: 12.5%;
  left: 75%;
}

.container_x8 .number_15 {
  top: 12.5%;
  left: 87.5%;
}

.container_x8 .number_16 {
  top: 25%;
  left: 0;
}

.container_x8 .number_17 {
  top: 25%;
  left: 12.5%;
}

.container_x8 .number_18 {
  top: 25%;
  left: 25%;
}

.container_x8 .number_19 {
  top: 25%;
  left: 37.45%;
}

.container_x8 .number_20 {
  top: 25%;
  left: 50%;
}

.container_x8 .number_21 {
  top: 25%;
  left: 62.5%;
}

.container_x8 .number_22 {
  top: 25%;
  left: 75%;
}

.container_x8 .number_23 {
  top: 25%;
  left: 87.5%;
}

.container_x8 .number_24 {
  top: 37.45%;
  left: 0;
}

.container_x8 .number_25 {
  top: 37.45%;
  left: 12.5%;
}

.container_x8 .number_26 {
  top: 37.45%;
  left: 25%;
}

.container_x8 .number_27 {
  top: 37.45%;
  left: 37.45%;
}

.container_x8 .number_28 {
  top: 37.45%;
  left: 50%;
}

.container_x8 .number_29 {
  top: 37.45%;
  left: 62.5%;
}

.container_x8 .number_30 {
  top: 37.45%;
  left: 75%;
}

.container_x8 .number_31 {
  top: 37.45%;
  left: 87.5%;
}

.container_x8 .number_32 {
  top: 50%;
  left: 0;
}

.container_x8 .number_33 {
  top: 50%;
  left: 12.5%;
}

.container_x8 .number_34 {
  top: 50%;
  left: 25%;
}

.container_x8 .number_35 {
  top: 50%;
  left: 37.45%;
}

.container_x8 .number_36 {
  top: 50%;
  left: 50%;
}

.container_x8 .number_37 {
  top: 50%;
  left: 62.5%;
}

.container_x8 .number_38 {
  top: 50%;
  left: 75%;
}

.container_x8 .number_39 {
  top: 50%;
  left: 87.5%;
}

.container_x8 .number_40 {
  top: 62.5%;
  left: 0;
}

.container_x8 .number_41 {
  top: 62.5%;
  left: 12.5%;
}

.container_x8 .number_42 {
  top: 62.5%;
  left: 25%;
}

.container_x8 .number_43 {
  top: 62.5%;
  left: 37.45%;
}

.container_x8 .number_44 {
  top: 62.5%;
  left: 50%;
}

.container_x8 .number_45 {
  top: 62.5%;
  left: 62.5%;
}

.container_x8 .number_46 {
  top: 62.5%;
  left: 75%;
}

.container_x8 .number_47 {
  top: 62.5%;
  left: 87.5%;
}

.container_x8 .number_48 {
  top: 75%;
  left: 0
}

.container_x8 .number_49 {
  top: 75%;
  left: 12.5%;
}

.container_x8 .number_50 {
  top: 75%;
  left: 25%;
}

.container_x8 .number_51 {
  top: 75%;
  left: 37.45%;
}

.container_x8 .number_52 {
  top: 75%;
  left: 50%;
}

.container_x8 .number_53 {
  top: 75%;
  left: 62.5%;
}

.container_x8 .number_54 {
  top: 75%;
  left: 75%;
}

.container_x8 .number_55 {
  top: 75%;
  left: 87.5%;
}

.container_x8 .number_56 {
  top: 87.5%;
  left: 0;
}

.container_x8 .number_57 {
  top: 87.5%;
  left: 12.5%;
}

.container_x8 .number_58 {
  top: 87.5%;
  left: 25%;
}

.container_x8 .number_59 {
  top: 87.5%;
  left: 37.45%;
}

.container_x8 .number_60 {
  top: 87.5%;
  left: 50%;
}

.container_x8 .number_61 {
  top: 87.5%;
  left: 62.5%;
}

.container_x8 .number_62 {
  top: 87.5%;
  left: 75%;
}

.container_x8 .number_63 {
  top: 87.5%;
  left: 87.5%;
}

.container_x8 .zero {
  background-image: none!important;
  background-color: transparent;
  border: 3px transparent solid;
  font-size: 0;
}


.container_x8 .bone_img-0 {
  background-position: 0 0;

}

.container_x8 .bone_img-1 {
  background-position: 14.286% 0;

}

.container_x8 .bone_img-2 {
  background-position: 28.572% 0;

}

.container_x8 .bone_img-3 {
  background-position: 42.858% 0;

}

.container_x8 .bone_img-4 {
  background-position: 57.144% 0;

}

.container_x8 .bone_img-5 {
  background-position: 71.43% 0;

}

.container_x8 .bone_img-6 {
  background-position: 85.716% 0;

}

.container_x8 .bone_img-7 {
  background-position: 100% 0;

}

.container_x8 .bone_img-8 {
  background-position: 0 14.286%;

}

.container_x8 .bone_img-9 {
  background-position: 14.286% 14.286%;

}

.container_x8 .bone_img-10 {
  background-position: 28.572% 14.286%;

}

.container_x8 .bone_img-11 {
  background-position: 42.858% 14.286%;

}

.container_x8 .bone_img-12 {
  background-position: 57.144% 14.286%;

}

.container_x8 .bone_img-13 {
  background-position: 71.43% 14.286%;

}

.container_x8 .bone_img-14 {
  background-position: 85.716% 14.286%;

}

.container_x8 .bone_img-15 {
  background-position: 100% 14.286%;

}

.container_x8 .bone_img-16 {
  background-position: 0 28.572%;

}

.container_x8 .bone_img-17 {
  background-position: 14.286% 28.572%;

}

.container_x8 .bone_img-18 {
  background-position: 28.572% 28.572%;

}

.container_x8 .bone_img-19 {
  background-position: 42.858% 28.572%;

}

.container_x8 .bone_img-20 {
  background-position: 57.144% 28.572%;

}

.container_x8 .bone_img-21 {
  background-position: 71.43% 28.572%;

}

.container_x8 .bone_img-22 {
  background-position: 85.716% 28.572%;

}

.container_x8 .bone_img-23 {
  background-position: 100% 28.572%;

}

.container_x8 .bone_img-24 {
  background-position: 0 42.858%;

}

.container_x8 .bone_img-25 {
  background-position: 14.286% 42.858%;

}

.container_x8 .bone_img-26 {
  background-position: 28.572% 42.858%;

}

.container_x8 .bone_img-27 {
  background-position: 42.858% 42.858%;

}

.container_x8 .bone_img-28 {
  background-position: 57.144% 42.858%;

}

.container_x8 .bone_img-29 {
  background-position: 71.43% 42.858%;

}

.container_x8 .bone_img-30 {
  background-position: 85.716% 42.858%;

}

.container_x8 .bone_img-31 {
  background-position: 100% 42.858%;

}

.container_x8 .bone_img-32 {
  background-position: 0 57.144%;

}

.container_x8 .bone_img-33 {
  background-position: 14.286% 57.144%;

}

.container_x8 .bone_img-34 {
  background-position: 28.572% 57.144%;

}

.container_x8 .bone_img-35 {
  background-position: 42.858% 57.144%;

}

.container_x8 .bone_img-36 {
  background-position: 57.144% 57.144%;

}

.container_x8 .bone_img-37 {
  background-position: 71.43% 57.144%;

}

.container_x8 .bone_img-38 {
  background-position: 85.716% 57.144%;

}

.container_x8 .bone_img-39 {
  background-position: 100% 57.144%;

}

.container_x8 .bone_img-40 {
  background-position: 0 71.43%;

}

.container_x8 .bone_img-41 {
  background-position: 14.286% 71.43%;

}

.container_x8 .bone_img-42 {
  background-position: 28.572% 71.43%;

}

.container_x8 .bone_img-43 {
  background-position: 42.858% 71.43%;

}

.container_x8 .bone_img-44 {
  background-position: 57.144% 71.43%;

}

.container_x8 .bone_img-45 {
  background-position: 71.43% 71.43%;

}

.container_x8 .bone_img-46 {
  background-position: 85.716% 71.43%;

}

.container_x8 .bone_img-47 {
  background-position: 100% 71.43%;

}

.container_x8 .bone_img-48 {
  background-position: 0 85.716%;

}

.container_x8 .bone_img-49 {
  background-position: 14.286% 85.716%;

}

.container_x8 .bone_img-50 {
  background-position: 28.572% 85.716%;

}

.container_x8 .bone_img-51 {
  background-position: 42.858% 85.716%;

}

.container_x8 .bone_img-52 {
  background-position: 57.144% 85.716%;

}

.container_x8 .bone_img-53 {
  background-position: 71.43% 85.716%;

}

.container_x8 .bone_img-54 {
  background-position: 85.716% 85.716%;

}

.container_x8 .bone_img-55 {
  background-position: 100% 85.716%;

}

.container_x8 .bone_img-56 {
  background-position: 0 100%;

}

.container_x8 .bone_img-57 {
  background-position: 14.286% 100%;

}

.container_x8 .bone_img-58 {
  background-position: 28.572% 100%;

}

.container_x8 .bone_img-59 {
  background-position: 42.858% 100%;

}

.container_x8 .bone_img-60 {
  background-position: 57.144% 100%;

}

.container_x8 .bone_img-61 {
  background-position: 71.43% 100%;

}

.container_x8 .bone_img-62 {
  background-position: 85.716% 100%;

}

.container_font-size-zero {
  font-size: 0;
}

.lock-app {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: transparent;
}
